@import "~src/styles/variables.scss";

header * {
	font-family: 'Roboto Slab', sans-serif, Arial;
	color: $primary_dark_grey;
}
header {
	// background: #fbfafa;
	border-bottom: 1px solid #d1d1d1;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header-nav a {
			text-decoration: none;
			display: inline-block;
			padding: .8em .4em;
			margin-left: .4em;
		}
		.header-nav a:hover {
			color: lighten($primary_dark_grey, 40%);
		}
	}
}
