<div class="container">
  <h1>İndeks</h1>
  <p>İndeks is a web-based document indexing application built with Angular, TypeScript, JavaScript, NgRx Store/Effects, Bootstrap, jQuery, lodash and many more packages and libraries.</p>
  <img class="project-inpage-img" src="../../../../assets/img/indeks-main.png" alt="İndeks main image">
  <p>Below are some features I have developed:</p>
  
  <h2 class="main-header">File Upload</h2>
  <img class="project-inpage-img" src="../../../../assets/img/indeks-file-upload.png" alt="İndeks File Upload image">

  <h2 class="main-header">File Upload</h2>
  <img class="project-inpage-img" src="../../../../assets/img/indeks-file-upload.png" alt="İndeks File Upload image">

</div>