<h2 class="main-header">Internet Addresses</h2>
<ul class="internet-addresses-list">
	<li>
		Email: <a class="main-link" href="mailto:ahmetomerv@gmail.com">ahmetomerv@gmail.com</a>
	</li>
	<li>
		GitHub: <a class="main-link" href="https://github.com/ahmetomerv">https://github.com/ahmetomerv</a>
	</li>
	<li>
		LinkedIn: <a class="main-link" href="https://linkedin.com/in/ahmetomer/">https://linkedin.com/in/ahmetomer</a>
	</li>
	<li>
		Dribbble: <a class="main-link" href="https://dribbble.com/ahmetomer">https://dribbble.com/ahmetomer</a>
	</li>
	<li>
		Twitter: <a class="main-link" href="https://twitter.com/ahmetomerv">https://twitter.com/ahmetomerv</a>
	</li>
</ul>
