// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');

// External imports
@import "styles/variables.scss";

body {
	font-family: 'Fira Sans', sans-serif, Arial;
	font-size: .95em;
	color: $primary_dark_grey;
	margin: 0;
	padding: 0;
	background: $primary_dim_grey;
}

.container {
	margin: 0 auto;
	width: 85%;
}

.secondary-container {
	margin: 0 auto;
	width: 70%;
}

hr {
	opacity: .4;
}

.main-header {
	font-family: 'Roboto Slab', sans-serif, Arial;
	font-weight: 400;
	border-bottom: 1px solid #ebebeb;
}

.main-link {
	color: lighten($primary_dark_grey, 35%);
	font-family: 'Roboto Slab', sans-serif, Arial;
	text-decoration-color: lighten($primary_dark_grey, 35%);
	&:hover {
		color: $primary_dark_grey;
		text-decoration-color: $primary_dark_grey;
		background: rgba($primary_dark_grey, .03);
	}
	&:active {
		color: lighten($maastricht_blue, 20%);
		text-decoration-color: lighten($maastricht_blue, 20%);
	}
}

.internet-addresses-list {
	list-style: square;
}

.button {
	font-family: 'Roboto Slab', serif, Arial;
	text-decoration: none;
	border-radius: 1px;
	padding: .6em 1.7em;
	margin-right: .4em;
	font-size: .9em;
	outline: none;
	transition: all .1s ease;
	cursor: pointer;
}

.primary-button {
	color: $primary_dark_grey;
	border: 1px $primary_dark_grey solid;
	box-shadow: 0 0 7px 0 rgba($maastricht-blue,.10);
	&:hover {
		color: lighten($primary_dark_grey, 25%);
		background: rgba($primary_dark_grey, .05);
		border: 1px lighten($primary_dark_grey, 25%) solid;
	}
	&:active {
		color: lighten($maastricht_blue, 20%);
	}
}

.secondary-button {
	color: #fff;
	border: 1px $primary_dark_grey solid;
	background: $maastricht-blue;
	box-shadow: 0 0 7px 0 rgba($maastricht-blue, .10);
	&:hover {
		border: 1px $primary_dark_grey solid;
		background: lighten($primary_dark_grey, 10%);
		box-shadow: 0 0 7px 0 rgba($primary_dark_grey, .3);
	}
	&:active {
		color: lighten($primary_dark_grey, 80%);
	}
}
